.vscode/**
.vscode-test/**
src/**
**/*.map
.gitignore
tsconfig.json
*.ts
!*.d.ts
node_modules/**/@types/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.md
!node_modules/vscode-languageclient/**
.eslintrc.json
*.vsix
