# .github/workflows/update-docs.yml
name: Update Documentation
on:
  push:
    branches: [main]
permissions:
  contents: write
concurrency:
  group: update-docs
  cancel-in-progress: true
defaults:
  run:
    shell: bash
jobs:
  generate-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Git user
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
      - name: Generate Data Model
        run: ./reverse-engineer-bash/reverse-engineer.sh --data-model
      - name: Commit updated data model
        run: |
          git add docs/generated/
          git commit -m "Update data model from code analysis"
          git push